.ant-carousel .slick-track {
  background: #364d79;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-slide img {
  margin: auto;
  padding-top: 70px;
}

.ant-carousel .slick-dots {
  height: 100px;
  padding-top: 30px !important;
  padding-bottom: 60px !important;
}